<div class = "container-fluid">
  <%= render 'shared/menu' %>
</div>
<div class = "container-fluid mt-3">
  <span><b>Trabajador:</b> <%= @trabajador.nombres %> </span>
</div>
<div class="container-fluid">
  <%= render "forma_de_busqueda" %>
  <% if @periodo.values.any?(nil)  %>
    <div>
      <h2>Reailiza una búsqueda</h2>
    </div>
  <% else %>
    <h5 class="text-center mt-2">Conceptos</h5>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Código</th>
          <th scope="col">Descripción</th>
          <th scope="col">Monto</th>
        </tr>
      </thead>
      <tbody>
      <% counter = 1 %>
      <% @nomina_mes.each do |concepto|%>
        <tr>
          <th scope="row"><%= counter %></th>
          <td><%= concepto.CO_CONCEPTO %></td>
          <td><%= concepto.DESCRIPCION_CO %></td>
          <td><%= concepto.MO_CONCEP %></td>
        </tr>
      <% counter += 1%>
      <% end %>
      </tbody>
    </table>
    <div class="container-fluid d-flex gap-3 justify-content-center">
      <div>
        <b>Primera Quincena: </b>
        <%=  primera_quincena = @quincenas.first.MO_CONCEP %>
      </div>
      <div>|</div>
      <div>
        <b>Segunda Quincena: </b>
        <%= segunda_quincena = @quincenas.last.first - @quincenas.last[1..].sum  %>
      </div>
      <div>|</div>
      <div>
        <b>Total mes: </b>
        <%=  primera_quincena + segunda_quincena %>
      </div>
    </div>
  <% end %>
</div>
