<div class='d-flex align-items-center justify-content-between mt-2'>
  <ul class='list-group list-group-horizontal'>                                                                    
    <li class='list-group-item'>
      <%= link_to 'Home', root_path %>
    </li>                                                   
    <li class='list-group-item'>
      <%= link_to 'Trabajadores', tab_trabajadors_path, class: 'link-primary active' %>
    </li>
    <% if current_user.rol.eql?("admin") %>
      <li class='list-group-item'>
        <%= link_to 'Administrar', admins_path, class: 'link-primary active' %>
      </li>
    <% end %>
    <li class='list-group-item'>
      <%= link_to 'Volver', :back %>
    </li>
  </ul>
   <%= render 'shared/logout' %>
</div>
