<%= turbo_frame_tag "retirados" do %>
  <h3 class="text-center">Resultados</h3>
  <%= content_tag :div, class:"border border-info rounded p-3 " do %>
    <%= content_tag :div, class: "d-flex gap-3" do %>
      <h4>Retiros encontrados <span class="badge bg-secondary"><%= personas.count %></span></h4>
      <%= button_to "Limpiar prenomina", limpiar_admins_path %>
    <% end %>
    <%= render 'admins/parciales/retiros_tabla', personas: personas %>
  <% end %>
<% end %>
