<%= tag.div class: "container-fluid" do %>
  <%= current_user.nombre  %>
  <%= render 'shared/menu' %>
<% end %>

<%= content_tag :div, class: "container-fluid border mt-2 d-flex justify-content-center" do %> 

  <%= form_with model: @variacion, local: true, class:"d-flex flex-column col-11 gap-2 mt-2" do |form| %>

    <%= tag.div do %>
      <%= form.label :nombres, 'Nombres',  class: 'form-control fw-bold' %>
      <%= form.text_field :nombres, value: @trab.nombres, class: 'form-control', disabled: true %>
    <% end %>

    <%= tag.div do %>
      <%= form.label :ubicacion, 'Ubicacion',  class: 'form-control fw-bold' %>
      <%= form.text_field :ubicacion, value: @trab.descripcion_larga, class: 'form-control', disabled: true %>
    <% end %>

    <%= content_tag :div,
                    data: { controller: "varconcepto" },
                    class:"input-group mb-3" do %> 
      <%= form.label :co_concepto, "Concepto", class: 'fw-bold input-group-text' %>
      <%= form.select :co_concepto,
                      @con.map { |concepto|
                        [
                        "#{concepto.co_concepto}-#{concepto.descripcion}",
                         concepto.co_concepto,
                         { data: { descripcion: concepto.descripcion,
                                   estatus: concepto.estatus,
                                   indc: concepto.in_pago}}
                      ]
                    },
                    { prompt: 'Selecciona un concepto' },
                    data: {varconcepto_target: "codigoselecto", action: "change->varconcepto#seleccionar"},
                    class: "form-select" %>
      <%= form.hidden_field :descripcion_co, data: {varconcepto_target: "descripcionselecto"}%>
      <%= form.hidden_field :estatus_concepto, data: {varconcepto_target: "estatusConcepto"} %>
      <%= form.hidden_field :indic_pago, data: {varconcepto_target: "indicePago"} %>
    <% end %>

   <div>
    <%= form.label :ce_beneficiario, 'Beneficiario',  class: 'form-control fw-bold' %>
    <%= form.number_field :ce_beneficiario, class: 'form-control' %>
  </div>
  <%= content_tag :div, data: {controller: 'varconcepto'} do %>
    <%= tag.div class: "input-group mb-3" do %>
      <%= form.label :tipo_nomina,  class: 'fw-bold input-group-text' %>
      <%= form.select :tipo_nomina,
                      @tipo_nomina.map { |nomina|
                        ["#{nomina.descripcion}", nomina.tipo_nomina]
                      },
                      { prompt: "Selecciona tipo de nomina" },
                      data: { varconcepto_target: "tiponomina", action: "change->varconcepto#cargarNominaEspecifica" },
                      class: 'form-select' %>
    <%end%>
    <%= tag.div class: ' input-group mb-3' do %>
      <%= form.label :tipo_nomina_especifica, 'Nomina específica',  class: 'fw-bold input-group-text' %>
      <%= form.select :tipo_nomina_especifica,
                      [],
                      { prompt: "Nómina específica" },
                      data: {varconcepto_target: "nominaespecifica"},
                      class: 'form-select' %> 
    <% end %>
  <% end %>
    <%= form.hidden_field :ce_trabajador, value: @trab.ce_trabajador %>
    <%= form.hidden_field :co_ubicacion, value: @trab.co_ubicacion %>
    <%= form.hidden_field :tipopersonal, value: @trab.tipopersonal %>
    <%= form.hidden_field :descripcion_tp, value: @trab.descripcion_tp %>
    <%= form.hidden_field :id_trabajador, value: @trab.id %>
    <%= form.hidden_field :usuario, value: current_user.nombre %>
    <%= form.submit "Crear", class: "btn btn-secondary col-1 align-self-center" %>
  <% end %>
<% end %>
