<div class="container-fluid">
  <%= render 'shared/menu' %>
</div>

<div class="container-fluid border mt-2 d-flex justify-content-center"> 

<%= form_with model: @variacion, local: true, class:"d-flex flex-column col-11 gap-2 mt-2" do |form| %>

  <div>
    <%= form.label :nombres, 'Nombres',  class: 'form-control fw-bold' %>
    <%= form.text_field :nombres, value: @trab.nombres, class: 'form-control', disabled: true %>
  </div>

  <div>
    <%= form.label :ubicacion, 'Ubicacion',  class: 'form-control fw-bold' %>
    <%= form.text_field :ubicacion, value: @trab.descripcion_larga, class: 'form-control', disabled: true %>
  </div>

  <div data-controller= "varconcepto"  data-varconcepto-target="prueba"> 
    <%= form.label :co_concepto, "Selecciona un concepto", class: 'fw-bold form-control' %>
    <%= form.select :co_concepto,
                    @con.map { |concepto|
                      [
                        "#{concepto.co_concepto}-#{concepto.descripcion}",
                         concepto.co_concepto,
                        { data: { descripcion: concepto.descripcion }}
                      ]
                    },
                    { prompt: 'Selecciona un concepto' },
                    data: {varconcepto_target: "codigoselecto", action: "change->varconcepto#seleccionar"} %>
     <%= form.hidden_field :descripcion_co, data: {varconcepto_target: "descripcionselecto"}%>
  </div>

  <div>
    <%= form.label :ce_beneficiario, 'Beneficiario',  class: 'form-control fw-bold' %>
    <%= form.number_field :ce_beneficiario, class: 'form-control' %>
  </div>

  <div>
    <%= form.label :TIPO_NOMINA,  class: 'form-control fw-bold' %>
    <%= form.number_field :TIPO_NOMINA, class: 'form-control' %>
  </div>

    <%= form.hidden_field :ce_trabajador, value: @trab.ce_trabajador %>
    <%= form.hidden_field :co_ubicacion, value: @trab.co_ubicacion %>
    <%= form.hidden_field :tipopersonal, value: @trab.tipopersonal %>
    <%= form.hidden_field :descripcion_tp, value: @trab.descripcion_tp %>
    <%= form.hidden_field :id_trabajador, value: @trab.id %>
    <%= form.submit "Crear", class: "btn btn-secondary col-1 align-self-center" %>
<% end %>
</div>
