<% fechas = @fechas_estatus_cargo if tipo_fecha.eql?(1) %>
<% fechas = @fechas_estatus_adm if tipo_fecha.eql?(2) %>
<% fechas.each do |key, val| %>
  <li class="list-group-item flex-fill">
    <div><b><p><%= key %></p></b></div>
    <div>
      <% if val.nil? %>
        <%= '00/00/000' %>
      <% else %>
        <%= val.strftime('%d/%m/%Y') %>
      <% end %>
    </div>
  </li>
<% end %>
<li class="list-group-item flex-fill">
  <div>
    <% if tipo_fecha.eql?(1) %>
      <div>Años de Servicios</div>
    <% else %>
      <div>Turno</div>
    <% end %>
  </div>
  <p>
    <% if tipo_fecha.eql?(1) %>
      <%= @antiguedad %>
    <% else %>
      <%= @turno[@trabajador.horario] %>
    <% end %>
  </p>
</li>
