<div class="container-fluid">

  <h1>Sección de Trabajadores</h1>
    <%= render 'shared/menu' %>
</div>

<%= form_with url: tab_trabajadors_index_path, method: :get, local: true, class: 'd-flex justify-content-center' do %>
  <div>
    <%= label_tag :q, "Buscar:" %>
    <%= text_field_tag :q, @search_term, placeholder: "Ingrese el nombre o ID del trabajador" %>
    <%= submit_tag "Buscar" %>
  </div>
<% end %>

<div class= "container-fluid border border-2 mt-3"> 
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Nombre</th>
        <th scope="col">Cedula</th>
        <th scope="col">Cargo</th>
      </tr>
    </thead>
    <tbody>

    <% @sidial.each do |trabajador| %>
      <tr>
        <td><%= trabajador.nombres %></td>
        <td><%= trabajador.ce_trabajador %></td>
        <td><%= trabajador.descripcion_cargo %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
    <%= paginate @sidial %>
</div>
