<div class="container-fluid">

  <h1>Sección de Trabajadores</h1>
    <%= render 'shared/menu' %>
</div>

<%= form_with url: tab_trabajadors_index_path, method: :get, local: true, class: 'd-flex justify-content-center' do %>
  <div>
    <%= label_tag :q, "Buscar:" %>
    <%= text_field_tag :q, @search_term, placeholder: "Ingrese cedula de identidad" %>
    <%= submit_tag "Buscar" %>
  </div>
<% end %>

<div class= "container-fluid border border-2 mt-3"> 
  <% if @sidial.nil? %>
    <h2> Ingrese Cedula de Identidad</>
  <% else %>
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">cedula</th>
          <th scope="col">Estatus</th>
          <th scope="col">Nombres</th>
        </tr>
      </thead>
      <tbody>
      <% @sidial.each do |trabajador| %>
        <tr>
          <td> <%= trabajador.ce_trabajador %></td>
          <td><%= @desc_estatus[trabajador.edo_cargo] %>
          <td><%= trabajador.nombres %></td>
          <td> <%= trabajador.id %></td>
          <td><%= link_to 'Detalles', tab_trabajadors_show_path(trabajador.id) %>
        </tr>
      <%end%>
      </tbody>
    </table>
  <% end %>
</div>
