<div class="container-fluid">
  <%= render 'shared/menu' %>
</div>

<div class="container-fluid">
  <div class="card border-primary mb-3">
    <%= render 'datos_trabajador' %>
  </div>

  <div class="card border-primary mb-3">
    <%= render 'datos_cargo_trabajador' %>
  </div>


  <div class="card border-primary mb-3">
    <%= render 'datos_ingreso_trabajador' %>
  </div>

  <div class="card border-primary mb-3">
    <%= render 'datos_fechas_trabajador' %>
  </div>
</div>
