<!DOCTYPE html>
<html>
  <head>
    <title>Nomina</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <% if flash[:notice] %>
      <div class="notice" style="color: green;"><%= flash[:notice] %></div>
    <% end %>
    <% if flash[:alert] %>
      <div class="alert" style="color: red;"><%= flash[:alert] %></div>
    <% end %>
    <% if current_user.present? %>
      <%= content_tag :div, class: "container-fluid" do %>
        <%= render 'shared/menu' %>
      <% end %>
    <% end %>
    <%= yield %>
  </body>
</html>
