<!DOCTYPE html>
<html>
  <head>
    <title>Nomina</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <% if notice.present? %>
      <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"  >
        <div class="modal-dialog modal-sm">
          <div class="modal-content">
            <%= notice %>
          </div>
        </div>
      </div>
    <% end %>
    <% if alert.present? %>
      <div class="alert alert-secondary">
        <%= alert %>
      </div>
   <% end %>
    <% if current_user.present? %>
      <%= content_tag :div, class: "container-fluid" do %>
        <%= render 'shared/menu' %>
      <% end %>
    <% end %>
    <%= yield %>
  </body>
</html>
